- @messages.conversations.each do |message|
  - if current_user.id != message.sent_messageable_id && !message.opened
    #dash_message
      #message_from
        = link_to image_tag('green.jpg')
      #message_body
        %h2= link_to message.from.name, conversation_path(message.id)
        %p= link_to truncate(message.body, length: 80), conversation_path(message.id)