%table
  %tr
    %th To
    %th Topic
    %th Content
    %th
    %th

  - @messages.conversations.each do |message|
    %tr
      %td= message.to.name
      %td= message.topic
      %td= message.body

%br
