.chat
  - @message.conversation.sort { |x,y| x <=> y }.each do |message| 
    - if current_user.id == message.sent_messageable_id
      .sender
        = message.body
    - else
      .receiver
        = message.body


  = render 'reply'
