%h1 Sent messages

%table
  %tr
    %th To
    %th Content
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.to.name
      %td= message.body

%br

= link_to 'New Message', new_message_path
= link_to 'Back', messages_path
