%h1 Listing messages

%table
  %tr
    %th From
    %th Topic 
    %th Content
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.from.name
      %td= message.topic
      %td= message.body
      %td= link_to 'Reply', conversation_path(message.id)
      / %td= link_to 'Delete', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
