%h Listing messages

%table
  %tr
    %th Sender
    %th Receiver
    %th Content
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.from.name
      / %td= message.to.name
      %td= message.body

%br