/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.autocomplete
 *= require jquery.ui.slider
 *= require_self
 *= require fancybox
 *= require font-awesome
 *= require_tree .
 */

body {
  width: 1240px;
  margin: 0 auto;
  font-family: 'Inconsolata', sans-serif; 
  font-size: 14px;
  line-height: 1.5;
}

.notice {
  font-family: 'Inconsolata', sans-serif; 
}

a {
  text-decoration: none;
  color: #444;
}

h1, h2 {
  font-family: 'Inconsolata', sans-serif;
  margin: 0 0 20px 0;
}

h3 {
  font-family: 'Inconsolata', sans-serif;
  margin: 0 0 10px 0;
}

p {
  font-family: 'Inconsolata', sans-serif;
}

/* NAV BAR */

#nav {
  margin: 20px 0 0 0;
  width: 1240px;
  float: right;
}

#nav h1 {
  margin: 0;
  display: inline-block;
  font-family: 'Satisfy', cursive;
  /*font-family: 'Yellowtail', cursive;*/
}

#nav h1 a {
  margin-left: 40px;
  font-size: 200%;
}

.login {
  padding-top: 30px;
  float: right;
  display: inline-block;
  font-family: 'Inconsolata', sans-serif;
  text-align: right;
}

.dashboard_button {
  margin-left: 10px;
  padding: 10px 24px;
  border-radius: 2px;
  color: white;
  background: #00b355;
}

#content {
  width: 1240px;
  margin: 0 auto;
}

/* USER PROFILE */

.user img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user .profile {
  float: left;
  margin-right: 20px;
}

.user {
  margin: 0 20px 40px 20px;
  height: 150px;
  width: 260px;
  float: left;
}

.user ul {
  /*padding: 40px 0;*/
  list-style: none;
}

#profile_img > img {
  height: 300px;
  vertical-align: middle;
}

#profile_img {
  text-align: center;
  display: inline-block;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  overflow: hidden;
}

#name {
  margin: 0;
  width: 300px;
  text-align: center;
}

#send_message p {
  width: 300px;
  text-align: center;
}

#profile_buttons_details {
  width: 300px;
  display: inline-block;
}

#profile_details {
  float: left;
  width: 200px;
  display: inline-block;
}

#profile_buttons {
  float: left;
  padding-top: 20px;
  margin-left: 50px;
  font-family: 'Inconsolata', sans-serif;
  width: 200px;
  display: inline-block;
  text-align: center;
}

.membership_button a {
  color: #fff;
}

#profile_description {
  margin: 0px 90px 0 0;
  display: inline-block;
  width: 58%;
  float: right;
}

/* GALLERY */

#gallery {
  vertical-align: top;
  display: inline-block;
  width: 65%;
  float: right;
}

.user_images {
  margin: 0 26px 10px 0; 
  display: inline-block;
  width: 155px;
  vertical-align: top;
  overflow: hidden;
}

.user_images img {
  height: 155px;
}

.image_control {
  display: inline-block;
  font-size: 70%;
}

.image_control a {
  font-size: 160%;
}

#upload_button {
  padding-top: 16px;
  padding-bottom: 30px;
  vertical-align: bottom;
  display: inline-block;
  width: 150px;
}

#gallery p {
  width: 90%;
}

.tokenfield {
  border: 1px solid #ddd; 
  padding: 10px;
  font-family: 'Inconsolata', sans-serif;

}

.token-input {
  font-size: 16px;
  font-family: 'Inconsolata', sans-serif;
}

.ui-menu .ui-menu-item a {
  font-family: 'Inconsolata', sans-serif;
  }

.ui-autocomplete { height: 150px; overflow-y: scroll; overflow-x: hidden;}

/* CHAT PAGE */

.chat {
  font-family: 'Inconsolata', sans-serif;
  width: 500px;
  margin: 0 auto;
}

.sender, .receiver {
  max-width: 380px;
  clear: both;
  border-radius: 5px;
  margin: 5px 0 5px 0;
  padding: 15px 10px 15px 10px;
}

.sender {
  float: right;
  background: #BCE3FF;
  text-align: right;
}

.receiver {
  background: #8CC99F;
  float: left;
}

.response {
  clear: both;
  margin-bottom: 20px;
}

#message_field {
  width: 485px;
  padding: 5px 0 30px 10px;
  margin-bottom: 5px;
}

#message_options { 
  margin: 15px 0 40px 0;
  float: right;
}

/* DASH BACKGROUND */

#dash_background { 
  padding: 20px 20px 20px 20px;
  width: 75%;
  display: inline-block;
  float: right;
  background: #eee;
}

/*DASH PROFILE*/

.profile_dash {
  font-family: 'Inconsolata', sans-serif;
  width: 200px;
  display: inline-block;
}

#profile_dash_img {
  width: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
}

#profile_dash_img > img {
  height: 200px;
  vertical-align: middle;
}

.profile_dash ul {
  list-style: none;
}

#profile_dash_rest {
  margin-top: 40px;
  display: block;
}

.profile_dash a {
  text-decoration: none;
  color: #00b355;
}

#profile_dash_button {
  margin: 0 auto; 
}

#profile_dash_button a {
  margin: 0 auto;
  color: #ffffff; 
}

.membership_button {
  margin-top: 20px;
  padding: 10px 37px;
  border-radius: 2px;
  color: white;
  background: #00b355;
}

ul {
  margin: 20px 0 0 0;
  padding: 10px 0 0 0;
}

li {
  padding: 0 0 10px 0;
}

/*DASH MESSAGES*/

.inbox {
  clear: both;
  padding: 20px 20px 10px 20px;
  background: #ffffff;
  vertical-align: top;
  display: inline-block;
  width: 415px;
  float: left;
  font-family: 'Inconsolata', sans-serif;
}

#message_from {
  margin: 0 0 20px 0;
  display: inline-block;
  width: 80px;
  border-radius: 100%;
  overflow: hidden;
}

#message_from img {
  vertical-align: middle;
  height: 80px;
}

#message_body {
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;
  width: 280px;
}

#message_body a {
  text-decoration: none;
  color: black;
} 

#dash_new_message {
  margin-top: 20px;
  text-align: right;
}

#matches_search {
  width: 434px;
  float: right;
  display: inline-block;
}

/*DASH MATCHES*/

.matches {
  font-family: 'Inconsolata', sans-serif;
  padding: 20px 0 10px 20px;
  background: #ffffff;
  float: right;
  vertical-align: top;
  width: 434px;
  max-height: 250px;
}

.match_with {
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: top;
  width: 80px;
  font-size: 80%;
}

#match_with_img {
  width: 80px;
  border-radius: 100%;
  overflow: hidden;
}

#match_with_img img {
  vertical-align: middle;
  height: 80px;
}

#match_with_name {
  width: 80px;
  text-align: center;
}

#match_with_name a {
  text-decoration: none;
  color: black;
}

#dash_match_link {
  margin: 20px 20px 0 0;
  text-align: right;
}

/*DASH SEARCH*/

#search {
  font-family: 'Inconsolata', sans-serif;
}

.search_dash {
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  vertical-align: bottom;
  float: right;
  width: 415px;
  background: #ffffff;
}

/*INBOX MESSAGES*/

.message_message {
  font-family: 'Inconsolata', sans-serif;
  width: 38%;
}

.message_from {
  margin: 0 0 20px 0;
  display: inline-block;
  width: 80px;
}

.message_from img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.message_body {
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;
  width: 300px;
  max-height: 80px;
}

.message_body h3 {
  margin-top: 0;
}

.message_body a {
  text-decoration: none;
  color: black;
}

.message_links {
  float: right;
  width: 28px;
  padding-top: 34px;
}

i.fa.fa-reply.fa-lg, i.fa.fa-comments.fa-lg {
  margin-bottom: 8px;
  float: right;
}

i.fa.fa-trash-o.fa-lg, i.fa.fa-trash-o.fa-lg {
  float: right;
}

/*USERS NAV*/

#nav_left, .search {
  float: left;
  display: inline-block;
  width: 290px;
  max-height: 1000px;
  padding: 10px 20px 20px 20px;
  background: #eee;
}

/*USERS RESULT*/

.pagination {
  clear: both;
}

.left {
  float: left;
  width: 25%;
}

#search_result {
  display: inline-block;
  width: 900px;
  float: right;
}

#pagination {
  padding: 20px 0;
  border: 1px solid black;
  text-align: center;
  width: 900px;
  float: right;
}

input[type='submit'], .button {
  padding: 10px 28px;
  font-family: 'Inconsolata', sans-serif;
  font-size: 14px;
  background: #00b355;
  color: #fff;
  border: 0;
  border-radius: 2px;
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

#message_form, #image_form, #login_form {
  display: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

#message_form textarea {
  height: 200px;
}

#message_form input {
  width: 91%;
}

.signup label {
  display: inline-block;
  width: 120px;
}

.signup, #hero {
  float:left;
  width: 45%;
  padding: 20px;
}

select {
    padding: 10px 30px 10px 20px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
/*label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}*/

form div {
/*margin: 10px 0;*/
}
