/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.autocomplete
 *= require jquery.ui.slider
 *= require_self
 *= require_tree .
 */

body {
  width: 1240px;
  margin: 0 auto;
  font-family: verdana;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #444;
}

h2 {
  font-family: 'Inconsolata', sans-serif;
  margin: 0 0 20px 20px;
}

#nav {
  margin: 30px 0;
  width: 1240px;
  float: right;
}

.login {
  margin-left: 232px;
}

#content {
  width: 1240px;
  margin: 0 auto;
}

.user img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user .profile {
  float: left;
  margin-right: 20px;
}

.user {
  margin: 20px;
  height: 150px;
  width: 260px;
  float: left;
}

.user ul {
  padding: 40px 0;
  list-style: none;
}

.profile_dash {
  width: 200px;
  display: inline-block;
}

.profile_dash img {
  width: 200px;
  border-radius: 100%;
}

.profile_dash ul {
  list-style: none;
}

.pagination {
  clear: both;
}


.left {
  float: left;
  width: 25%;
}

input {
  padding: 10px;
}

.tokenfield {
  border: 1px solid #ddd; 
  padding: 10px;
}

.token-input {
  font-size: 16px;
}

.inbox {
  margin-left: 32px;
  vertical-align: top;
  display: inline-block;
  width: 450px;
  height: 600px;
}

.matches {
  float: right;
  vertical-align: top;
  display: inline-block;
  width: 500px;
  border: 1px solid black;
}

.search {
  border: 1px solid black;
  margin-top: -360px;
  vertical-align: bottom;
  float: right;
  display: inline-block;
  width: 500px;
  box-sizing: border-box;
}
.chat {
  width: 500px;
  margin: 0 auto;
}

.sender, .receiver {
  max-width: 300px;
  clear: both;
  border-radius: 5px;
  margin: 5px 0 5px 0;
  padding: 15px 10px 15px 10px;
}

.sender {
  font-family: 'Inconsolata', sans-serif;
  float: right;
  background: #BCE3FF;
  text-align: right;
}

.receiver {
  background: #8CC99F;
  float: left;
}

.response {
  font-family: 'Inconsolata', sans-serif;
  clear: both;
}

#message_field {
  width: 500px;
  padding: 0 0 30px;
}

/*DASH MESSAGES*/

#incoming {
  margin-left: 20px;
  font-family: 'Inconsolata', sans-serif;
}

#message_from {
  margin: 0 0 20px 20px;
  display: inline-block;
  width: 80px;
}

#message_from img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

#message_body {
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;
  width: 300px;
}

#message_body a {
  text-decoration: none;
  color: black;
} 

#message_from, #message_topic, #message_body {
  font-family: 'Inconsolata', sans-serif;
  font-size: 80%;
}

#dash_new_message {
  margin-top: 20px;
  text-align: right;
  font-family: 'Inconsolata', sans-serif;

}

/*DASH MATCHES*/

#matches {
  margin-left: 20px;
  font-family: 'Inconsolata', sans-serif;
}
#match_with {
  margin-left: 20px;
  display: inline-block;
  width: 80px;
  text-align: center;
  font-family: 'Inconsolata', sans-serif;
  font-size: 80%;
}
#match_with img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
#match_with a {
  text-decoration: none;
  color: black;
}

/*DASH SEARCH*/

#search {
  margin-left: 20px;
  font-family: 'Inconsolata', sans-serif;
}

/*DASH PROFILE*/

.profile_dash {
  font-family: 'Inconsolata', sans-serif;
}

#profile_dash_rest {
  margin-top: 40px;
  display: block;
}

.profile_dash a {
  text-decoration: none;
  color: #00b355;
}

#profile_dash_button {
  margin: 0 auto; 
}

#profile_dash_button a {
  margin: 0 auto;
  color: #ffffff; 
}

.membership_button {
  margin-top: 20px;
  padding: 10px 27px;
  border-radius: 2px;
  color: white;
  background: #00b355;
}

ul {
  margin: 20px 0 0 0;
  padding: 10px 0 0 0;
}

li {
  padding: 0 0 10px 0;
}

/*INBOX MESSAGES*/

.message_from {
  margin: 0 0 20px 20px;
  display: inline-block;
  width: 80px;
}

.message_from img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.message_body {
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;
  width: 300px;
}

.message_body a {
  text-decoration: none;
  color: black;
} 

.message_from, .message_topic, .message_body {
  font-family: 'Inconsolata', sans-serif;
  font-size: 80%;
}

.dash_new_message {
  margin-top: 20px;
  text-align: right;
  font-family: 'Inconsolata', sans-serif;

}

/*USERS NAV*/

#nav_left, .search {
float: left;
display: inline-block;
border: 1px solid black;
width: 290px;
max-height: 1000px;
padding: 10px 20px 10px 10px;
}

.search {
  margin-top: -270px;
  vertical-align: bottom;
  background: #eee;
  float: right;
  display: inline-block;
  width: 500px;
}

/*USERS RESULT*/

#search_result {
  display: inline-block;
  border: 1px solid black;
  width: 900px;
  float: right;
}

#pagination {
  padding: 20px 0;
  border: 1px solid black;
  text-align: center;
  width: 900px;
  float: right;
}

input[type='submit'], .button {
padding: 10px;
font-family: 'Inconsolata', sans-serif;
font-size: 16px;
background: #00b355;
color: #fff;
border: 0;

}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#message_form {
  display: none;
  background-color: #fff;
  padding: 20px;
}

.signup label {
  display: inline-block;
  width: 120px;
}

.signup, #hero {
  float:left;
  width: 45%;
  padding: 20px;
}

select {
    padding:10px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
/*label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}*/
